<div class="box">
  <h1>My Lists</h1>

  <%= link_to "Make a New List", new_user_list_path(current_user, @list), class: "btn btn-primary btn-lg", role: "button" %>
  <br>
  <br>
  
  <% @lists.each do |list| %>
    <table>
      <tbody>
        <tr class="list-view show">
          <td>
            <%= link_to user_list_path(current_user, list) do %>
              <%= image_tag(list.image_url, class: "list-img") %>

            <% end %>
             <br>  
          </td>
          <td>"<%= list.title %>"</td>
          <td>Topic: <%= list.topic %></td>
          <td>Description: <%= list.description %></td>
          <td>
           <%= link_to "Edit", edit_user_list_path(current_user, list), class: "btn active", role: "button" %>
          </td>
          <td>
            <%= link_to "Delete", user_list_path(current_user, list), class: "btn active", role: "button", method: :delete %>
          </td> 
        </tr>
      </tbody>
    </table>
    <br>
   <% end %>

 </div>