<!DOCTYPE html>
<html>
<head>
  <title>TopTenApp</title>
   <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,900italic,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<%= render "shared/header" %>  

  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>

<%= yield %>

<%= render "shared/footer" %> 

</body>
</html>
