<!DOCTYPE html>
<html>
<head>
  <title>TopTenApp</title>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,900italic,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
    
    <%= render "shared/header" %>
    
    <div class="logout">
      <%= link_to 'Log Out', session_path(:user_id), class: 'btn btn-primary', method: :delete %>
    </div> 
    
    <% flash.each do |email, message| %>
      <div class="flash-message flash-message-<%= email %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

    <div class="fix"></div>  
    <%= render "shared/footer" %> 
  </div>
  
</body>
</html>
